<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil</title>
  <!-- BOOTSTRAP STYLES-->
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <link href="/static/css/font-awesome.css" rel="stylesheet" />
  <!-- MORRIS CHART STYLES-->
  <link href="/static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
  <!-- CUSTOM STYLES-->
  <link href="/static/css/custom.css" rel="stylesheet" />
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
  <form method="POST">
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="navbar-brand" src="/static/img/logo_wbc.png" style="width:130px;height:90px;" />
        </div>
        <div style="color: white;
            padding: 30px 50px 5px 50px;
            float: right;
            font-size: 16px;"> ID: {{id}} &nbsp; <a href="/login" class="btn btn-danger square-btn-adjust">Cerrar Sesion</a>
        </div>
      </nav>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li class="text-center">
              <img src="/static/img/find_user.png" class="user-image img-responsive" />
            </li>
            <li>
              <h3>{{name}}</h3>
            </li>
            <li>
              <a class="nav-link" href="/home/Entrenadores"></i> Entrenadores</a>
            </li>
            <li>
              <a class="nav-link" href="/home/Gimnasios"></i> Gimnasios</a>
            </li>
            <li>
              <a class="nav-link" class="nav-link" href="/home/RegistroPeleas"></i> Registro de Peleas</a>
            </li>
            <li>
              <a class="nav-link" href="/home/Boxeadores"></i> Boxeadores</a>
            </li>


          </ul>

        </div>

      </nav>
      <!-- /. NAV SIDE  -->

        <div style="float: right; padding-right:400px;">
          <table class="table table-borderless table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Alias</th>
                <th scope="col">Guardia</th>
                <th scope="col">Num. Peleas</th>
                <th scope="col">Estatura</th>
                <th scope="col">Peso</th>
              </tr>
            </thead>
            <tbody>
              {% for row in boxeadores %}
              <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
                <td>{{row.6}}</td>
                <td>{{row.7}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="/static/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/js/morris/morris.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/static/js/custom.js"></script>

  </form>
</body>

</html>
