{% extends "home.html" %}
{% block content %}
        <div style="float: right; padding-right:400px;">
          <table class="table table-borderless table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Num. Peleas</th>
                <th scope="col">Celular</th>
              </tr>
            </thead>
            <tbody>
              {% for row in entrenadores %}
              <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
{% endblock %}

