{% extends "home.html" %}
{% block content %}
<div id="page-wrapper">
 <div class="container" id="coverpage">
  <div class="row">
    <div class="col-md-6 col-sm-12">
       <table id="tableblock" class="table table-bordered table-striped mb-0">
          <h2>Mis Gimnasios</h2>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Estado</th>
                <th scope="col">Horario</th>
                <th scope="col">Telefono</th>
              </tr>
            </thead>
            <tbody>
            {% for row in gym %}
              <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
                <td>{{row.6}}</td>
              </tr>
            </tbody>
            {% endfor %}
       </table>
     </div>
     <div class="col-md-6 col-sm-12">
       <table id="tabletxs" class="table table-bordered table-striped mb-0">
         <h2>Gimnasios</h2>
                     <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Estado</th>
                <th scope="col">Horario</th>
                <th scope="col">Telefono</th>
              </tr>
            </thead>
            <tbody>
            {% for row in gimnasios %}
              <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
                <td>{{row.6}}</td>
              </tr>
            </tbody>
            {% endfor %}
       </table>
     </div>
  </div>
 </div>
</div>
{% endblock %}



