{% extends "register.html" %}

{% block content %}

<body>
    <!-- Dueño de Gimnasio -->
    <div id="/register/dueno" class="col s12" style="padding-top: 20px; padding-bottom: 20px">
        <div class="container">
            <form class="form-horizontal" role="form" method="POST">
                <h2 style="color: white">Registrar Dueño</h2>
                <div class="msg">
                    <font size="4" color="#d21616" topmargin="20px">{{ msg }}
                </div>

                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Nombre(s)</label>
                    <div class="col-sm-9">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre(s)" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Apellido
                        Paterno</label>
                    <div class="col-sm-9">
                        <input type="text" id="apellidoPat" name="apellidoPat" placeholder="Apellido Paterno"
                            style="color: white;" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Apellido
                        Materno</label>
                    <div class="col-sm-9">
                        <input type="text" id="apellidoMat" name="apellidoMat" placeholder="Apellido Materno"
                            style="color: white;" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label" style="color: white; font-size: 18px">Email*
                    </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" style="color: white;"
                            name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" name="password" placeholder="Password" style="color: white;"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label" style="color: white; font-size: 18px">Confirmar
                        Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Password" style="color: white;"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label" style="color: white; font-size: 18px">Fecha de
                        Nacimiento*</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" name="birthDate" style="color: white;" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número
                        de casa* </label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="telCasa" name="telCasa" placeholder="Número de casa"
                            style="color: white" class="form-control">
                        <span class="help-block">Su número de teléfono no se mostrará en ningún lado.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número
                        celular</label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="celular" name="celular" placeholder="Número celular"
                            style="color: white" class="form-control">
                        <span class="help-block">Su número de teléfono no se mostrará en ningún lado.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: white; font-size: 18px">Sexo* </label>
                    <div class="col-sm-5">
                        <select class="form-control selcls" id="sexo" name="sexo">
                            <option>Masculino</option>
                            <option>Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label" style="color: white; font-size: 18px">Fecha de
                        Registro* </label>
                    <div class="col-sm-9">
                        <input type="date" id="inicio" name="inicio" class="form-control" style="color: white;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Calle*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="calle" name="calle" placeholder="Calle" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="numeroCalle" name="numeroCalle" placeholder="Calle" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Colonia*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="colonia" name="colonia" placeholder="Colonia" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Municipio
                        y C.P* </label>
                    <div class="col-sm-9">
                        <input type="text" id="municipio" name="municipio" placeholder="Municipio y C.P" style="color: white;"
                            class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Estado*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="estado" name="estado" placeholder="Estado" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left" style="background-color: #028d19">
                        <span>Fotografía</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Subir una foto"
                            style="color: white;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymNombre" class="col-sm-3 control-label" style="color: white; font-size: 18px">Nombre Gimnasio*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymNombre"  name="gymNombre" placeholder="Nombre Gimnasio" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Dirección*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymDireccion"  name="gymDireccion" placeholder="Dirección Gimnasio" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Ciudad*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymCiudad"  name="gymCiudad" placeholder="Ciudad" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Estado*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymEstado"  name="gymEstado" placeholder="Estado" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Alcaldía/Municipio*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymAlcaldia"  name="gymAlcaldia" placeholder="Alcaldía/Municipio" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">C.P.*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymCP"  name="gymCP" placeholder="Dirección Gimnasio" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Horario*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymHorario"  name="gymHorario" placeholder="Horario" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Teléfono*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="gymTelefono"  name="gymTelefono" placeholder="Teléfono" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gymDireccion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Email*
                    </label>
                    <div class="col-sm-9">
                        <input type="email" id="gymEmail"  name="gymEmail" placeholder="Email Gimnasio" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Campos obligatorios</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block"
                    style="background-color: #028d19">Registrar</button>
                <!-- /.form-group -->
            </form>
        </div>
    </div>
</body>
{% endblock %}
