{% extends "register.html" %}
{% block content %}
<body>
    <!-- Referee-->
    <div id="/register/referee" class="col s12" style="padding-top: 20px; padding-bottom: 20px">
        <div class="container">
            <form class="form-horizontal" role="form" method="POST">
                <h2 style="color: white">Registrar Referee</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Nombre(s)</label>
                    <div class="col-sm-9">
                        <input type="text" id="nombre-boxeador" placeholder="Nombre(s)" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Apellido
                        Paterno</label>
                    <div class="col-sm-9">
                        <input type="text" id="apellido-pat-boxeador" placeholder="Apellido Paterno"
                            style="color: white;" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Apellido
                        Materno</label>
                    <div class="col-sm-9">
                        <input type="text" id="apellido-pat-boxeador" placeholder="Apellido Materno"
                            style="color: white;" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label" style="color: white; font-size: 18px">Email*
                    </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" style="color: white;"
                            name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" style="color: white;"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label" style="color: white; font-size: 18px">Confirmar
                        Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" style="color: white;"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label" style="color: white; font-size: 18px">Fecha de
                        Nacimiento*</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" style="color: white;" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número
                        de casa* </label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="tel-casa" placeholder="Número de casa" style="color: white;"
                            class="form-control">
                        <span class="help-block">Su número de teléfono no se mostrará en ningún lado.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número
                        celular</label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="tel-celular" placeholder="Número celular" style="color: white;"
                            class="form-control">
                        <span class="help-block">Su número de teléfono no se mostrará en ningún lado.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: white; font-size: 18px">Sexo* </label>
                    <div class="col-sm-5">
                        <select class="form-control selcls" id="gender1" name="sexo">
                            <option>Masculino</option>
                            <option>Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: white; font-size: 18px">Estado Civil*</label>
                    <div class="col-sm-5">
                        <select class="form-control selcls" id="gender1" name="edoCivil">
                            <option>Soltero</option>
                            <option>Casado</option>
                            <option>Divorciado</option>
                            <option>Viudo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ocupacion" class="col-sm-3 control-label" style="color: white; font-size: 18px">Ocupación*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="ocupacion-juez" placeholder="Ocupacion" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="escolaridad" class="col-sm-3 control-label" style="color: white; font-size: 18px">Escolaridad*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="escolaridad-juez" placeholder="Escolaridad" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label" style="color: white; font-size: 18px">Fecha de
                        Registro* </label>
                    <div class="col-sm-9">
                        <input type="date" id="fecha-regis" class="form-control" style="color: white;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Calle*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="calle-boxeador" placeholder="Calle" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="calle-num-boxeador" placeholder="Calle" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Colonia*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="colonia-boxeador" placeholder="Colonia" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Municipio
                        y C.P* </label>
                    <div class="col-sm-9">
                        <input type="text" id="municipio-boxeador" placeholder="Municipio y C.P" style="color: white;"
                            class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Estado*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="estado-boxeador" placeholder="Estado" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left" style="background-color: #028d19">
                        <span>Fotografía</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Subir una foto"
                            style="color: white;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: white; font-size: 18px">Tipo* </label>
                    <div class="col-sm-5">
                        <select class="form-control selcls" id="gender1" name="tipoReferee">
                            <option>Referee</option>
                            <option>Juez</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="idLicencia" class="col-sm-3 control-label" style="color: white; font-size: 18px">ID Licencia*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="licencia-juez" placeholder="ID Licencia" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="expedLicencia" class="col-sm-3 control-label" style="color: white; font-size: 18px">Persona que expidió licencia*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="licencia-exped-juez" placeholder="Persona que expidió licencia" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notasLicencia" class="col-sm-3 control-label" style="color: white; font-size: 18px">Notas sobre licencia*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="licencia-notas-juez" placeholder="Notas sobre licencia" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label" style="color: white; font-size: 18px">Fecha de Expedición*</label>
                    <div class="col-sm-9">
                        <input type="date" id="expeditionDate" style="color: white;" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="experiencia" class="col-sm-3 control-label" style="color: white; font-size: 18px">Años Experiencia*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="experiencia-juez" placeholder="Años Experiencia" class="form-control"
                            style="color: white;" autofocus>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Campos obligatorios</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block"
                    style="background-color: #028d19">Registrar</button>
                <!-- /.form-group -->
            </form>
        </div>
    </div>
</body>
{% endblock %}
