{% extends "register.html" %}

{% block content %}
<body>
    <!-- Boxeador-->
    <div id="/register/boxeador" class="col s12" style="padding-top: 20px; padding-bottom: 20px">
        <div class="container">
            <form class="form-horizontal"  role="form" method="POST">
                <h2 style="color: white">Registrar Boxeador</h2>
                <div class="msg">
                    <font size="4" color="#d21616" topmargin="20px">{{ msg }}
                </div>

                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Nombre(s)</label>
                    <div class="col-sm-9">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre(s)" style="color: white"
                            class="form-control" autofocus>

                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Apellido
                        Paterno</label>
                    <div class="col-sm-9">
                        <input type="text" id="apellidoPat" name="apellidoPat" placeholder="Apellido Paterno"
                            style="color: white" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Apellido
                        Materno</label>
                    <div class="col-sm-9">
                        <input type="text" id="apellidoMat" name="apellidoMat" placeholder="Apellido Materno"
                            style="color: white" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label" style="color: white; font-size: 18px">Email*
                    </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control"
                            style="color: white" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" name="password" placeholder="Password (8 caracteres minimo)" style="color: white"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Confirmar Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Deben coincidir las contraseñas"
                            style="color: white" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label" style="color: white; font-size: 18px">Fecha de
                        Nacimiento*</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" name="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número
                        de casa* </label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="telCasa" name="telCasa" placeholder="Número de casa"
                            style="color: white" class="form-control">
                        <span class="help-block">Su número de teléfono no se mostrará en ningún lado.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número
                        celular</label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="celular" name="celular" placeholder="Número celular"
                            style="color: white" class="form-control">
                        <span class="help-block">Su número de teléfono no se mostrará en ningún lado.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: white; font-size: 18px">Sexo* </label>
                    <div class="col-sm-5">
                        <select class="form-control selcls" id="sexo" name="sexo">
                            <option>Masculino</option>
                            <option>Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label" style="color: white; font-size: 18px">Fecha de
                        Inicio como Boxeador* </label>
                    <div class="col-sm-9">
                        <input type="date" id="inicio" name="inicio" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Calle*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="calle" name="calle" placeholder="Calle" class="form-control"
                            style="color: white" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Número*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="numeroCalle" name="numeroCalle" placeholder="Calle" class="form-control"
                            style="color: white" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Colonia*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="colonia" name="colonia" placeholder="Colonia" class="form-control"
                            style="color: white" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Municipio
                        y C.P* </label>
                    <div class="col-sm-9">
                        <input type="text" id="municipio" name="municipio" placeholder="Municipio y C.P"
                            style="color: white" class="form-control" autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" style="color: white; font-size: 18px">Estado*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="estado" name="estado" placeholder="Estado" class="form-control"
                            style="color: white" autofocus>
                    </div>
                </div>
                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left" style="background-color: #028d19">
                        <span>Fotografía</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" name="foto-boxeador" type="text" placeholder="Subir una foto">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: white; font-size: 18px">Guardia* </label>
                    <div class="col-sm-5">
                        <select class="form-control selcls" id="guardia" name="guardia">
                            <option>Derecha</option>
                            <option>Izquierda</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: white; font-size: 18px">Tipo de Sangre* </label>
                    <div class="col-sm-5">
                        <select class="form-control selcls" id="gender1" name="tipoSangre">
                            <option>O-</option>
                            <option>O+</option>
                            <option>A-</option>
                            <option>A+</option>
                            <option>B-</option>
                            <option>B+</option>
                            <option>AB-</option>
                            <option>AB+</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label for="Height" class="col-sm-3 control-label" style="color: white; font-size: 18px">Estatura*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="estatura" name="estatura" placeholder="Ingrese su altura en cm."
                            style="color: white" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="weight" class="col-sm-3 control-label" style="color: white; font-size: 18px">Peso*
                    </label>
                    <div class="col-sm-9">
                        <input type="text" id="peso" name="peso" placeholder="Ingrese su peso en Kg."
                            style="color: white" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="weight" class="col-sm-3 control-label"
                        style="color: white; font-size: 18px">Alias</label>
                    <div class="col-sm-9">
                        <input type="text" id="alias" name="alias" placeholder="Alias" style="color: white"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="weight" class="col-sm-3 control-label" style="color: white; font-size: 18px">Num. de
                        Peleas* </label>
                    <div class="col-sm-9">
                        <input type="text" id="peleas" name="peleas" placeholder="Num. de Peleas" style="color: white"
                            class="form-control">
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Campos obligatorios</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block"
                    style="background-color: #028d19">Registrar</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->
    </div>
</body>
{% endblock %}
